<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <%- include('./partials/head.ejs') %>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
   
    <% if (locals.user) { %>
        <%= JSON.stringify(locals.user) %>
    <% } %>


    <%- include('./partials/script.ejs') %>
</body>
</html>